<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/inicioEstudiantes.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 d-flex flex-column align-items-center text-center">
                <span class="circuloAzul">
                    <i class="fas fa-user" style="font-size: 3rem;"></i>
                </span>
            </div>
            <div class="mt-5 col-sm-12 col-md-12 d-flex flex-column align-items-center text-center">
                <h1 class="text-white">¡Todo Listo!</h1>
                <p class="text-white"><i>Se ha finalizado la configuración</i></p>
            </div>
            <div class="mt-5 col-sm-12 col-md-12 d-flex flex-column align-items-center text-center">
                <a href="#" class="botonFinalizar">
                <span class="botonGeneral">
                    Finalizar
                </span>
            </a>
            </div>
            <div class="imagenTriangulo">
                <img src="/imagenes/t_abajo.svg">
            </div>
        </div>
    </div>
</body>

</html>