<div class="miMenuMovil">
<div class="navegacion">
    <ul>
        <li class="list">
            <li class="salir"><a href="/logout"><span class="icon"><i class="fas fa-sign-out-alt"></span></i></a></li>
        </li>
    </ul>
</div>
</div>

