<div class="navegacion">
    <ul>
        <li class="list">
            <li class="salir"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </li>
        <div class="indicator"></div>
    </ul>
</div>