# Dependencias
/node_modules

# Archivos de configuración
.env
npm-debug.log
yarn-error.log

# Archivos generados en tiempo de ejecución
/build
/dist

# Logs
logs
*.log
npm-debug.log*

# Archivos temporales
.tmp
.temp
