body {
  background-color: #262626;
  font-family: "Poppins", sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
}

/* Estilo para el título */
.ModalTituloCampo {
  flex: 1; /* Hace que el título ocupe todo el espacio disponible */
  margin-right: 10px; /* Espacio entre el título y la entrada */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

/* Estilo para la entrada de período */
.inputModal {
  flex: 2; /* Hace que la entrada ocupe el doble de espacio que el título */
}

.botonGuardar {
  background-color: #77e8e1;
  color: #000;
  font-weight: bold;
}

.botonCerrar {
  background-color: #c11616;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 8px;
  border-radius: 50%;
}

.home {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 55%;
}
.atras {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 10%;
  background-color: white;
  padding: 10px 20px;
  border-radius: 55%;
}
.salir {
  color: black;
  font-size: 50px;
  position: absolute;
  bottom: 30%;
  background-color: #fff;
  padding: 25px;
  border-radius: 80px;
  transform: scaleX(-1);
}

.imagenTrianguloCentrado {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.TextoSemestre {
  font-size: 25px;
  text-transform: capitalize;
}
.nombreTabla {
  text-transform: capitalize;
  color: #fff;
}

/*sidebar*/
.sidebar {
  width: 135px;
  background-color: #002a7d;
  padding: 20px;
  position: fixed;
  height: 100%;
  transition: width 0.3s;
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.burger-btn {
  display: none;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .burger-btn {
    display: block;
  }
}

footer.menuMovil {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  footer.menuMovil {
    display: block;
  }
}
.user {
  background-color: #fff;
  padding: 25px;
  border-radius: 80px;
}

.fa-home,
.fa-circle-info,
.fa-sign-out-alt,
.fa-angle-left {
  color: #000000; /* Cambiar color del ícono */
  /* font-size: 3rem;  */
}

/*fin sidebar*/

.porcentaje {
  background-color: #ccc;
  border-radius: 55px;
  padding: 15px 5px 15px;
  margin: 15px;
}

.colorPdf{
  color: #fff;
  background-color: #76888d;
}


footer ul {
  list-style: none;
  text-align: center;
  background-color: #337ab7;
  margin-top: 20px;
}

footer ul li {
  display: inline-block;
  margin: 0 20px;
  padding: 10px 0;
  color: black;
}

footer ul li a i {
  color: black;
}
.home2 {
  color: black;
  font-size: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.elPorcentaje h5 {
  font-size: 70px;
}
/*colocar boton a la derecha*/

footer ul li.atras {
  position: relative;
  right: 15px;
}
footer ul li.home3 {
  position: relative;
  right: 15px;
}

.ventanitaOpciones {
  background-color: #ccc;
  color: black;
  font-weight: bold;
  display: none;
  padding: 30px;
  border-radius: 15px;
}
.active {
  display: block;
}

.circularBoton {
  border-radius: 50%;
  background-color: #ffffff;
  padding: 12px;
}

.circularBotonAzul {
  border-radius: 50%;
  background-color: #002a7d;
  padding: 42px;
  position: relative;
}

/*periodos profe*/
.nombrePeriodo {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.contenedorPeriodo {
  background-color: #002a7d;
  color: black;
  font-weight: bold;
  border-radius: 15px;
  padding: 20px;
}

/*Estilos de Curso Info*/
.botonGeneral {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 55px;
  padding: 20px;
  margin-bottom: 20px;
}
.botonGeneral:hover {
  text-decoration: none;
}

.cursosProf {
  background-color: #4a4e49;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
}

.botonEliminar {
  background-color: #dc2020;
  padding: 10px;
  border-radius: 55px;
  color: white;
}

.fondoTabla {
  background-color: #4a4e49;
  color: black;
  font-weight: bold;
  padding: 20px;
  /* z-index: 1; */
}

.escanear {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 55px;
  padding: 20px;
  margin-bottom: 20px;
  width: 320px;
  margin-top: 20px;
}

.guardar {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 80px;
  padding: 20px;
  margin-bottom: 200px;
  margin-top: 30px;
  z-index: 2;
}

.textAsistencia {
  font-size: 35px;
}

.miMenuMovil {
  margin-top: 180px;
}

/*MENU MOVIL*/
/* Add this CSS to your existing stylesheet */

/* Add this CSS to your existing stylesheet */
/* Add this CSS to your existing stylesheet */
/* Add these styles to your existing CSS */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #002a7d; /* Set your desired background color */
  display: flex;
  justify-content: space-around;
  padding: 10px; /* Adjust the padding as needed */
  z-index: 999;
}

.nav-tab {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-tab i {
  margin-bottom: 5px; /* Adjust the spacing between icon and text */
}

/* Add the active class to the active nav-tab */
.nav-tab.active {
  color: #007bff; /* Set your desired color for the active state */
}

.menu-link {
  text-decoration: none;
  color: #000; /* Set your desired color */
}

.menu-link:hover {
  background-color: transparent; /* Set your desired hover effect */
}

.menu-link .icon {
  color: #000; /* Set your desired icon color */
}

.menu-link .text {
  color: #000; /* Set your desired text color */
}

.navegacion {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.navegacion ul {
  display: flex;
  width: 350px;
}
.navegacion ul li {
  list-style: none;
  width: 100%;
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 3;
}

.navegacion ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  z-index: 3;
}
.navegacion ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 25px;
  text-align: center;
  transition: 0.5s;
  color: rgb(36, 33, 33);
  z-index: 3;
}

.circle {
  display: inline-block;
  padding: 5px; /* Ajusta el espacio alrededor del icono */
  border-radius: 50%; /* Forma el fondo en un círculo */
  background-color: white; /* Establece el fondo del círculo en color blanco */
}

.navegacion ul li.active a .icon {
  transform: translateY(-35px);
}
.navegacion ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.navegacion ul li a .text {
  position: absolute;
  color: rgb(43, 36, 36);
  font-weight: 400;
  font-size: 0.75em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}


.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #00c3ff;
  border-radius: 50%;
  border: 6px solid #262626;
  transition: 0.5s;
  z-index: -1;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #262626; /* izquierda*/
  z-index: 1;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 #262626; /* va a la derecha */
  z-index: 1;
}

.circulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem; /* Ancho del círculo */
  height: 10rem; /* Altura del círculo */
  border-radius: 50%; /* Hacer un borde redondo para formar un círculo */
  background-color: white; /* Color de fondo del círculo */
  position: relative;
}

/* Estilo para el ícono */
.fa-user {
  color: #000000; /* Cambiar color del ícono */
  font-size: 3rem; /* Tamaño del ícono */
}

.trianguloDerecha {
  position: absolute;
  right: 0;
}

/* Ocultar imagen a partir de 687px */
@media screen and (min-width: 1024px) {
  .trianguloDerecha {
    display: none;
  }
}

p.nombreCurso {
  font-size: 30px;
  font-weight: bold;
  /* font-family: poppins, sans-serif; */
  text-transform: capitalize;
}

/*Colmenas UCAB*/

.colmenasUcab {
  background-color: white;
  padding: 15px;
  border-radius: 55%;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.colmenasUcab img {
  width: 60px;
  height: 60px;
}

.dataTables_filter label {
  color: white;
}
.dataTables_length {
  color: #fff;
}
.fondoAzul {
  background-color: #002a7d;
}

/*Boton Ripple*/

.ripple-btn-wrapper {
  max-width: 767px;
  margin: 50px auto 0;
  text-align: center;
}
.ripple-btn-wrapper .ripple-button {
  background-color: #7c7cef;
  color: #ffffff;
  border: none;
  display: inline-block;
  padding: 16px 20px;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform-origin: center center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}
.ripple-btn-wrapper .ripple-button:focus,
.ripple-btn-wrapper .ripple-button:active {
  outline: 0;
  box-shadow: none;
}
.ripple-btn-wrapper .ripple-button .ripple-span {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.7s linear;
  width: 20px;
  height: 20px;
}

@keyframes ripple {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(30);
    opacity: 0;
  }
}

/*Estilos para profesores*/
.botonSeccion {
  padding: 0.3em 0.5em;
}
.botonContainer {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

/* Estilos para el menú ellipsis y el dropdown */
.dropdown-menu {
  display: none; /* Ocultar el menú por defecto */
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 0;
  min-width: 120px;
}

.dropdown-menu.show {
  display: block; /* Mostrar el menú cuando se active */
}

.tituloCurso {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

/* Definición de estilos para diferentes anchos de la barra de progreso */
/* Estilos de las barras de progreso */
.progress {
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 20px;
  margin-bottom: 20px;
}

.progress-bar-5 {
  width: 5%;
  background-color: #d9534f;
  border-radius: 55px;
}

.progress-bar-10 {
  width: 13%;
  background-color: #d9534f;
  border-radius: 55px;
}

.progress-bar-15 {
  width: 17%;
  background-color: #d9534f;
  border-radius: 55px;
}

.progress-bar-25 {
  width: 25%;
  background-color: #d9534f;
  border-radius: 55px;
}

.progress-bar-50 {
  width: 50%;
  background-color: #f0ad4e;
  border-radius: 55px;
}

.progress-bar-75 {
  width: 75%;
  background-color: #5bc0de;
  border-radius: 55px;
}

.progress-bar-100 {
  width: 100%;
  background-color: #5cb85c;
  border-radius: 55px;
}

label.contenedorCheckbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  background-color: #000;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #eee;
}

.checkmark:after {
  content: "\f058"; 
  font-family: 'Font Awesome 6 Free';
  position: absolute;
  display: none;
  color: #00A9FF;
  text-align: center;
}

/* Agrega un segundo tick */
.checkmark.double:after {
  content: "\f058\f058"; 
  margin-right:4px;
}

.checkbox:checked + .checkmark:after,
.checkbox:checked + .checkmark.double:after {
  display: block;
}