<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Estudiante</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <i class="fa-solid fa-user" style="font-size: 3rem;"></i>
               
                
                <h5>Estudiante</h5>
                <% if (estudiantes && estudiantes.length > 0) { %>
                    <h3>
                        <%= estudiantes[0].nombres %>
                        <%= estudiantes[0].apellidos %>
                    </h3>
                <% } %>
                
                <button id="abrirModal" class="btn btn-primary">Unirse a Curso</button>
                <h3>Cursos inscritos:</h3>
                <% if (cursos && cursos.length < 0) { %>
                    
                    <h3>Aún no estas inscrito en ningún curso.</h3>
                <% } %>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6">
                <h5 class="card-title">Mis Cursos</h5>
            </div>
            <div class="col-6">
                <h5 class="card-title">Porcentaje de asistencias</h5>
            </div>
            <%  cursos.forEach((curso)=> { %>
            <div class="col-12">
                <div class="card card-background">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text fw-bold"><%= curso.nombreCurso %></p>
                                <p class="card-text fw-bold">Clases: 20</p>
                                <p class="card-text text-danger fw-bold">Faltas: 5</p>
                            </div>
                            <div class="col-4 text-end elPorcentaje">
                                <h5 class="card-title fs-4 text-white">75%</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% }) %>
        </div>
    </div>



    <div id="modalAgregar" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase">Ingrese el NRC del Curso</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="ModalTituloCampo" for="nrc">NRC:</label>
                        <input type="text" id="nrc" class="form-control inputModal">
                    </div>
                   
                </div>
                <div class="modal-footer text-center justify-content-center mx-auto">
                    <button id="guardar" class="btn botonGuardar">Guardar</button>
                    <button id="cerrar" class="btn botonCerrar" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    

    <!--Footer -->
    <footer>
        <ul>
            <li class="home2"><a href="#"><i class="fas fa-home"></i></a></li>
        </ul>
    </footer>






    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>



<script>
    $(document).ready(function() {
        $('#abrirModal').on('click', function() {
            $('#modalAgregar').modal('show');
        });

        // Agrega datos al DataTable y guarda en localStorage
        $('#guardar').on('click', function() {
            var nrc = $('#nrc').val();

            // Guarda los datos en localStorage
            var dataToStore = {
                nrc: nrc
                // Aquí puedes añadir más campos si es necesario
            };

            // Guarda en localStorage
            localStorage.setItem('cursoData', JSON.stringify(dataToStore));

            // Cierra el modal
            $('#modalAgregar').modal('hide');

            // Comprueba la disponibilidad de la conexión a internet
            if (navigator.onLine) {
                // Si hay conexión, enviar los datos al servidor
                enviarDatosAlServidor(dataToStore);
            }
        });

        function enviarDatosAlServidor(data) {
            // Realizar petición al servidor para inscribirse en el curso
            // Aquí deberías hacer una petición AJAX usando jQuery o fetch API
            // Ejemplo con jQuery:
            $.ajax({
                url: 'URL_DEL_SERVIDOR_PARA_INSCRIPCION',
                type: 'POST',
                data: data,
                success: function(response) {
                    console.log('Datos enviados al servidor');
                    // Lógica adicional si es necesaria después de enviar los datos
                },
                error: function(error) {
                    console.error('Error al enviar los datos al servidor', error);
                    // Manejo de errores si es necesario
                }
            });
        }

        // Registrar el Service Worker para la PWA
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
                .then(function(registration) {
                    console.log('Service Worker registrado con éxito:', registration);
                })
                .catch(function(error) {
                    console.error('Error al registrar el Service Worker:', error);
                });
        }
    });
</script>


</body>

</html>