<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Metadatos, enlaces a CSS, otros recursos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Presente</title>
    <link rel="manifest" href="/manifest.json">
    <style>
        /* Estilos generales */
        body {
            margin-top: auto;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        /* Estilos del logo */
        .logo {
            width: 150px; /* Tamaño del logo */
            margin-bottom: -10px;
        }

        /* Estilos del botón "Continuar" */
        .continue-button {
            background-color: #7ED957;
            color: black;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: opacity 0.3s; /* transición de opacidad */
            margin-top: 10px;
        }

        /* Cambia la opacidad del botón al ocultarlo */
        .continue-button.hidden {
            opacity: 0;
            display: none; /* Oculta el botón por completo */
        }

        /* Cambia el estilo del botón al pasar el cursor sobre él */
        .continue-button:hover {
            background-color: #32852a;
        }

        /* Estilos de los botones de opciones (inicialmente ocultos) */
        .option-button {
            opacity: 0; /* Inicialmente ocultos */
            background-color: #7ED957;
            color: black;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: opacity 0.3s; /* transición de opacidad */
            margin-top: 5px;
        }

        /* Cambia la opacidad de los botones al mostrarlos */
        .show .option-button {
            opacity: 1;
        }
    </style>
</head>
<body style="background: radial-gradient(circle, rgba(255,255,255,1) 6%, rgba(0,42,125,1) 100%)">
    <img src="https://i.postimg.cc/gkpYD208/1-removebg-preview.png" alt="Logo" class="logo">
    <h1>¡Bienvenido!</h1>
    <button class="continue-button" onclick="mostrarOpciones()">Continuar</button>

    <!-- Botones de opciones (inicialmente ocultos) -->
    <a href="/iniciarSesion">
    <button class="option-button" >Iniciar Sesión</button></a>
    <a href="/registrarse">
    <button class="option-button" >Registrarse</button></a>

    <script src="/js/app.js"></script>
    <script>
        function mostrarOpciones() {
            // Oculta el botón "Continuar" de forma gradual
            const continueButton = document.querySelector('.continue-button');
            continueButton.style.opacity = 0;
            continueButton.style.display = 'none';

            // Muestra los botones de opciones agregando una clase al cuerpo
            const body = document.body;
            body.classList.add('show');
        }
    </script>
</body>
</html>
