<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/pruebas.css">
    <title>Checkbox Ticks</title>
</head>
<body>
    <label class="contenedorCheckbox">
        <input type="checkbox" id="checkbox1" class="checkbox double" onchange="handleCheckboxChange(this)">
        <span class="checkmark" id="checkmark1"></span>
        Checkbox 1
    </label>
   
    <label>
        <input type="checkbox" id="checkbox2" class="checkbox double" onchange="handleCheckboxChange(this)">
        <span class="checkmark" id="checkmark2"></span>
        Checkbox 2
    </label>

    <script>
        function handleCheckboxChange(checkbox) {
            var checkmark = document.getElementById("checkmark" + checkbox.id.slice(-1));

            // Agrega la clase 'double' para el segundo checkbox
            if (checkbox.id === 'checkbox2') {
                checkmark.classList.toggle('double', checkbox.checked);
            }

        }

    </script>
</body>

</html>