<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Metadatos, enlaces a CSS, otros recursos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Registrarse</title>
    <link rel="manifest" href="/manifest.json">
    <style>
        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        /* Estilos del botón "atrás" */
        .back-button {
            position: absolute;
            left: 20px; /* Ajusta la posición izquierda del botón */
            top: 20px; /* Ajusta la posición superior del botón */
            background-color: #9c9c9c;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s, transform 0.2s; /* Agregamos una transición para el efecto de escala */
        }

        /* Estilos del formulario */
        .form-container {
            max-width: 600px; /* Ancho máximo del formulario */
            width: 100%;
            padding: 20px;
            background-color: #fff;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center; /* Alinea el contenido del contenedor al centro */
            margin: 20px 20px; /* Margen derecho e izquierdo */
        }

        .form-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .form-input {
            width: calc(50% - 10px); /* Ancho del 50% con espacio entre campos */
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 50px;
            font-size: 16px;
            box-sizing: border-box;
            text-align: center; /* Alinea el texto al centro dentro de los campos de entrada */
        }

        /* Estilos del botón con imagen */
        .form-button {
            background-color: #002a7d;
            color: transparent; /* Oculta el texto del botón */
            font-size: 0; /* Oculta cualquier tamaño de fuente predeterminado */
            padding: 12px 12px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s; /* Agregamos una transición para el efecto de escala */
        }

        /* Estilos de la imagen en línea */
        .form-button img {
            width: 25px; /* Ajusta el tamaño de la imagen */
            height: 25px;
            display: inline-block;
            vertical-align: middle; /* Alinea verticalmente la imagen */
            filter: invert(100%); /* Efecto de negativo */
            margin-right: auto; /* Agrega un pequeño espacio a la derecha de la imagen */
        }

        .back-button img {
            width: 20px; /* Ajusta el tamaño de la imagen */
            height: 20px;
            display: inline-block;
            vertical-align: middle; /* Alinea verticalmente la imagen */
            /*filter: invert(100%);  Efecto de negativo */
            margin-right: auto; /* Agrega un pequeño espacio a la derecha de la imagen */
        }

        /* Cambia el estilo del botón al pasar el cursor sobre él */
        .form-button:hover {
            background-color: #32852a;
            transform: scale(1.25); /* Ajusta el tamaño del botón al pasar el cursor */
        }
                
        .back-button:hover {
            background-color: black;
            transform: scale(1.25); /* Ajusta el tamaño del botón al pasar el cursor */
        }

        /* Texto "Registrarse" fuera del formulario */
        .login-link {
            font-size: 14px;
            margin-top: 20px;
        }

        /* Estilos para las advertencias */
        .warning {
            color: red;
            margin-top: -10px; /* Evita la superposición de las advertencias */
        }

        /* Media query para dispositivos móviles */
        @media screen and (max-width: 768px) {
            .form-container {
                max-width: 75%;
                margin: 0 20px; /* Agrega un margen derecho e izquierdo en la versión vertical */
            }
            .form-input {
                width: 100%; /* Establece el ancho completo para dispositivos móviles */
            }
        }

    </style>
</head>
<body style="background: radial-gradient(circle, rgba(255,255,255,1) 6%, rgba(0,42,125,1) 100%)">
    <button class="back-button" onclick="goBack()"> 
        <img src="https://i.postimg.cc/jdDB0rxw/icono-back.png" alt="Atrás">
    </button>
    <div class="form-container">
        <h2>Registro de Usuario</h2>
        <form method="post" action="/guardarUsuario" id="registrationForm">
            <div class="form-row">
                <input name="nombres" type="text" class="form-input" placeholder="Nombre" required>
                <input name="apellidos" type="text" class="form-input" placeholder="Apellido" required>
            </div>
            <div class="form-row">
                <input name="correoUcab" type="email" class="form-input" placeholder="Correo UCAB" required>
                <input name="cedula" type="text" class="form-input" placeholder="Cedula" required>
            </div>
            <div class="form-row">
                <input name="clave" type="password" class="form-input" id="password" placeholder="Contraseña" required>
                <input type="password" class="form-input" id="confirmPassword" placeholder="Confirmar Contraseña" required>
            </div>
            <div class="form-row">
                <select id="rol" name="tipoUsuario" class="form-input">
                    <option value="" disabled selected>Selecciona un rol</option>
                    <option value="administrador">Secretario</option>
                    <option value="docente">Docente</option>
                    <option value="estudiante">Estudiante</option>
                </select>
            </div>
            <button class="form-button" type="button" id="registerButton"><img src="https://i.postimg.cc/J7BY235N/cono-check.png" alt="Checkmark"> Registrarse</button>
            <span class="warning" id="emptyFieldWarning"></span><br>
        </form>
    </div>
    <p class="login-link">Si ya te has registrado, <a href="/iniciarSesion">inicia sesión</a></p>
    <script src="src/js/app.js"></script>   
    <script>
        function goBack() {
            window.history.back();
        }
    </script>  
    <script>
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const registerButton = document.getElementById('registerButton');
        const registrationForm = document.getElementById('registrationForm');
        const emptyFieldWarning = document.getElementById('emptyFieldWarning');
        const correoUcabInput = document.querySelector('input[name="correoUcab"]');
        
        registerButton.addEventListener('click', (event) => {
            event.preventDefault(); // Evitar el envío automático del formulario
            
            const password = passwordInput.value;
            const confirmPassword = confirmPasswordInput.value;
            const tipoUsuario = document.querySelector('select[name="tipoUsuario"]').value;
            const correoUcab = correoUcabInput.value;
            
            let correoValido = false;
            
            if (tipoUsuario === 'estudiante') {
                correoValido = correoUcab.includes('@est.ucab.edu.ve');
            } else if (tipoUsuario === 'administrador' || tipoUsuario === 'docente') {
                correoValido = correoUcab.includes('@ucab.edu.ve');
            }
            
            if (password === confirmPassword && correoValido) {
                emptyFieldWarning.textContent = '';
                registrationForm.submit(); // Envío del formulario si todos los campos están correctamente llenados
            } else {
                let mensajeError = 'Las contraseñas no coinciden.';
                if (!correoValido) {
                    mensajeError = 'Tu correo UCAB no cuenta con la estructura correcta.';
                }
                emptyFieldWarning.textContent = mensajeError;
            }
        });
    </script>
</body>
</html>
