<!DOCTYPE html>
<html>

<head>
    <title>
        Admin
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href='/css/boxicons.min.css'>

    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css" />
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">

    

</head>

<body>


    <div class="sidebar">
        <div class="logo">
            <i class="fas fa-bars menu-icon"></i>
        </div>
        <ul class="menu">
            <li class="cursos"><a href="#"><i class="fa-solid fa-user"></i></a></li>
            <li class="home"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="salir"><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
    <div class="content">
        <button class="burger-btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="container">
            <button id="abrirModal" class="btn btn-primary m-4">Agregar Periodo</button>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-xs-12 mt-3 table-responsive">
                        <table id="tablaPeriodos" class="table table-bordered table-striped text-center mt-4">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th scope="col">Periodo</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% periodos.forEach((periodo) => {  %>
                                    <tr>
                                      <form action="/eliminarPeriodo" method="POST">
                                        <input type="hidden" name="id" value="<%= periodo.id %>" />
                                        <td class="fondoTabla filaIzquierda"><%= periodo.nombrePeriodo %></td>
                                        <td class="fondoTabla filaDerecha">
                                          <a href="/admin/editarCarrera/" class="btn btn-outline-info">
                                            Editar
                                          </a>
                                          <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                                        </td>
                                      </form>
                                    </tr>
                                  <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Ejemplo tabla con DataTables-->




    <form method="post" action="/guardarPeriodo">
        <div id="modalAgregar" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-uppercase">Agregar Período Académico</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="ModalTituloCampo" for="nombre">Período:</label>
                            <input name="nombrePeriodo" type="text" id="nombre" class="form-control inputModal">
                        </div>
                        <div class="form-group">
                            <label for="semanas" class="ModalTituloCampo">Cantidad de Semanas:</label>
                            <input name="cantidadSemanas" type="number" min="0" id="semanas" class="form-control inputModal">
                        </div>
                    </div>
                    <div class="modal-footer text-center justify-content-center mx-auto">
                        <button id="guardar" class="btn botonGuardar">Guardar</button>
                        <button id="cerrar" class="btn botonCerrar" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/boxicons.js"></script>

    

    <script type="text/javascript" src="/datatables/datatables.min.js"></script>

    <script src="/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>

    <!-- código JS propio-->
    <script type="text/javascript" src="/js/main.js"></script>
   

    <script>
        const sidebar = document.querySelector('.sidebar');
        const content = document.querySelector('.content');
        const burgerBtn = document.querySelector('.burger-btn');

        burgerBtn.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            content.classList.toggle('active');
        });
    </script>



</body>

</html>