<!DOCTYPE html>
<html>

<head>
    <title>
        Cursos Profesores
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/boxicons.min.css" rel='stylesheet'> -->
    <link href='/css/boxicons.min.css' rel='stylesheet'>

    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css" />
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">


</head>

<body>

    <div class="sidebar">

        <ul class="menu">

            <li class="home"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="salir"><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
    <div class="content">

        <div class="container">
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <i class="fa-solid fa-user" style="font-size: 3rem;"></i>
                    <h3>Jesús Ortiz</h3>
                    <h5>Profesor</h5>
                    <button id="abrirModal" class="btn btn-primary">Agregar Curso</button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-6">
                    <h5 class="card-title">Mis Cursos</h5>
                </div>
                <div class="col-6">
                    <h5 class="card-title">Porcentaje de asistencias</h5>
                </div>
                <div class="col-12">
                    <div class="card card-background">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <p class="card-text fw-bold">Álgebra Lineal</p>
                                    <p class="card-text fw-bold">Clases: 20</p>
                                    <p class="card-text text-danger fw-bold">Faltas: 5</p>
                                </div>

                                <!--Boton Opciones-->
                                <div class="position-pabsolute dropdown-menu-right m-3">
                                    <button type="button" class="btn colorOpciones botonOpciones" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                </div>
                                <div class="ventanitaOpciones ml-auto ">
                                    <div class="circularBoton">
                                        <button type="button" class="btn colorOpciones" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" style="fill: rgb(79, 0, 226);">
                                                <path
                                                    d="M8.707 19.707 18 10.414 13.586 6l-9.293 9.293a1.003 1.003 0 0 0-.263.464L3 21l5.242-1.03c.176-.044.337-.135.465-.263zM21 7.414a2 2 0 0 0 0-2.828L19.414 3a2 2 0 0 0-2.828 0L15 4.586 19.414 9 21 7.414z">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                    <br>
                                    <div class="circularBoton">
                                        <button type="button" class="btn colorOpciones" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" style="fill: rgb(206, 16, 16);">
                                                <path
                                                    d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm10.618-3L15 2H9L7.382 4H3v2h18V4z">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masCursos">

                    </div>
                </div>












            </div>
        </div>

        <form method="post" action="/guardarPeriodo">
            <div id="modalAgregar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-uppercase">AGREGAR CURSO</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="ModalTituloCampo" for="nombrePeriodo">Período:</label>
                                <select class="form-control" id="nombrePeriodo" name="nombrePeriodo">
                                        
                                        <% periodos.forEach((periodo)=>{ %>
                                            <option  value="<%= periodo.id %>"> <%= periodo.nombrePeriodo %> </option>
                                          <% }) %>

                                </select> 
                            </div>
                            <div class="form-group">
                                <label for="curso" class="ModalTituloCampo">Curso</label>
                                <input name="idCurso" type="text" min="0" id="idCurso" class="form-control inputModal"
                                    value="">
                            </div>
                            <div class="form-group">
                                <label for="semanas" class="ModalTituloCampo">Cantidad de Días por Semana:</label>
                                <input name="cantDiasSemanas" type="number" min="0" id="semanas"
                                    class="form-control inputModal" value="">
                            </div>
                            <div class="form-group">
                                <label for="seccion" class="ModalTituloCampo">Seccion: </label>
                                <input class="form-control inputModal" name="seccion" type="text">
                            </div>
                        </div>
                        <div class="modal-footer text-center justify-content-center mx-auto">
                            <button id="guardar" class="btn botonGuardar">Guardar</button>
                            <button id="cerrar" class="btn botonCerrar" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <footer class="menuMovil">
            <ul class="d-flex justify-content-between">
                <li class="atras">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgb(255, 255, 255);">
                        <path d="m8.121 12 4.94-4.939-2.122-2.122L3.879 12l7.06 7.061 2.122-2.122z"></path>
                        <path d="M17.939 4.939 10.879 12l7.06 7.061 2.122-2.122L15.121 12l4.94-4.939z"></path>
                    </svg>
                </li>

                <li class="home3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgb(255, 255, 255);">
                        <path
                            d="M12.74 2.32a1 1 0 0 0-1.48 0l-9 10A1 1 0 0 0 3 14h2v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1 1 1 0 0 0-.26-.68z">
                        </path>
                    </svg>
                </li>
            </ul>
        </footer>

    </div>








    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/boxicons.js"></script>


    <script>
       


        const botonOpciones = document.querySelector('.botonOpciones');
        const ventanita = document.querySelector('.ventanitaOpciones');

        botonOpciones.addEventListener('click', () => {
            console.log("se presiona");
            ventanita.classList.toggle('active');

        });


        // Función para guardar datos en localStorage y en la base de datos (simulado)
        function guardarCursoEnBaseDeDatosYLocalStorage(curso) {
            // Guardar en localStorage
            const cursos = JSON.parse(localStorage.getItem('cursos')) || [];
            cursos.push(curso);
            localStorage.setItem('cursos', JSON.stringify(cursos));

            // Aquí debes enviar los datos a la base de datos real usando una API
            // Ejemplo: fetch('/guardarCurso', { method: 'POST', body: JSON.stringify(curso) });
        }


       // Función para agregar un curso dinámicamente
function agregarCursoDinamicamente(curso) {
    const masCursos = document.querySelector('.masCursos'); // Asegúrate de que exista un contenedor con la clase .masCursos
    const nuevoDiv = document.createElement('div');
    nuevoDiv.className = 'col-12';

    nuevoDiv.innerHTML = 
    `<div class="card card-background">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <p class="card-text fw-bold">${curso.nombre}</p>
                                    <p class="card-text fw-bold">Clases: ${curso.clases}</p>
                                    <p class="card-text text-danger fw-bold">Faltas: ${curso.faltas}</p>
                                </div>

                                <!--Boton Opciones-->
                                <div class="position-pabsolute dropdown-menu-right m-3">
                                    <button type="button" class="btn colorOpciones botonOpciones" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                </div>
                                <div class="ventanitaOpciones ml-auto ">
                                    <div class="circularBoton">
                                        <button type="button" class="btn colorOpciones" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" style="fill: rgb(79, 0, 226);">
                                                <path
                                                    d="M8.707 19.707 18 10.414 13.586 6l-9.293 9.293a1.003 1.003 0 0 0-.263.464L3 21l5.242-1.03c.176-.044.337-.135.465-.263zM21 7.414a2 2 0 0 0 0-2.828L19.414 3a2 2 0 0 0-2.828 0L15 4.586 19.414 9 21 7.414z">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                    <br>
                                    <div class="circularBoton">
                                        <button type="button" class="btn colorOpciones" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" style="fill: rgb(206, 16, 16);">
                                                <path
                                                    d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm10.618-3L15 2H9L7.382 4H3v2h18V4z">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;

    masCursos.appendChild(nuevoDiv);

    // Selecciona el botón de "botonOpciones" específico para este curso
    const botonOpciones = nuevoDiv.querySelector('.botonOpciones');

    // Agrega un controlador de eventos al botón de "botonOpciones" para mostrar la ventanitaOpciones
    botonOpciones.addEventListener('click', () => {
        const ventanita = nuevoDiv.querySelector('.ventanitaOpciones'); // Encuentra la .ventanitaOpciones dentro de este curso específico
        ventanita.classList.toggle('active');
    });
}

// Resto del código...






        



        document.getElementById('guardar').addEventListener('click', function (event) {
            event.preventDefault();
            const nombre = document.getElementById('nombrePeriodo').value;
            const clases = document.getElementById('idCurso').value;
            const faltas = document.getElementById('semanas').value;

            const curso = { nombre, clases, faltas };

            guardarCursoEnBaseDeDatosYLocalStorage(curso);
            agregarCursoDinamicamente(curso);

            // Cierra el modal (puede requerir código adicional)
        });



        $(document).ready(function () {

            // Abre el modal al hacer clic en el botón
            $('#abrirModal').on('click', function () {
                $('#modalAgregar').modal('show');
            });

            // Agrega datos al DataTable y guarda en localStorage
            $('#guardar').on('click', function () {
                var nombrePeriodo = $('#nombrePeriodo').val();
                var semanas = $('#semanas').val();
                var idCurso = $('#idCurso').val();

                // Agrega los datos al final del div


                // Cierra el modal
                $('#modalAgregar').modal('hide');
            });

            // Cierra el modal al hacer clic en el botón
            $('#cerrar').on('click', function () {
                $('#modalAgregar').modal('hide');
            });
        });





    </script>



</body>

</html>