<div class="navbar">
    <a href="javascript:history.back()" class="nav-tab">
        <i class="fas fa-angle-left"></i>
        Regresar
    </a>
    <a href="/profesor/periodos" class="nav-tab active">
        <i class="fas fa-home"></i>
        Inicio
    </a>
    <a href="/logout" class="nav-tab">
        <i class="fas fa-sign-out-alt"></i>
        Cerrar Sesión
    </a>
</div>
